* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  background-color: bisque;
}
.logo {
  width: 40%;
}
.nav_items {
  width: 60%;
}
.list_items_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.nav_items ul li {
  cursor: pointer;
}
.child_list_items {
  display: none;
}
#teams {
  position: relative;
}
#teams:hover .child_list_items {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  width: 60px;
  list-style: none;
  top: 30px;
  background-color: bisque;
  border: 1px solid black;
  padding: 3px;
}
.displayDropdownOnKeyPress {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  width: 60px;
  list-style: none;
  top: 30px;
  background-color: bisque;
  border: 1px solid black;
  padding: 3px;
}
